spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/hrmdb?createDatabaseIfNotExist=true&autoReconnect=true&useSSL=false
    username: java
    password: 123123
  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update
    show-sql: true